{{#if hasLabel}}
	<label for={{labelID}} class={{labelClassName}}>{{label}}
		{{#if hasLabelText}}
			<span class="{{labelTextClassName}}">{{labelText}}</span>
		{{/if}}
		{{#if tip}}
			<dfn class="{{tipClassName}}">
				<abbr title="{{tipTitle}}"></abbr>
			</dfn>
		{{/if}}
	</label>
{{/if}}

<div class={{controlsClassName}}>
	{{yield}}
</div>