<main role="main">
	<article class="demos">
		<h2>Demos</h2>
		<section class="demo horizontal">
			<h2>Horizontal <sup>(default)</sup></h2>

			<form action="/">
				{{#form-section title="Log In"}}
					{{#form-field title="Username"}}
						{{input type="text" autofocus=true value=username title="Please enter a valid username" required=true placeholder="Username"}}
					{{/form-field}}
					{{#form-field title="Password"}}
						{{input type="password" value=password title="Please enter a valid password" required=true placeholder="Password"}}
					{{/form-field}}
				{{/form-section}}
				{{#form-actions}}
					<button type="submit" {{action "authenticate"}}>Authenticate</button>
				{{/form-actions}}
			</form>
		</section>
		<section class="demo vertical">
			<h2>Vertical <sup>(default)</sup></h2>

			<form action="/">
				{{#form-section title="Log In"}}
					{{#form-field title="Username" layoutDirecton="vertical"}}
						{{input type="text" value=username title="Please enter a valid username" required=true placeholder="Username"}}
					{{/form-field}}
					{{#form-field title="Password" layoutDirecton="vertical"}}
						{{input type="password" value=password title="Please enter a valid password" required=true placeholder="Password"}}
					{{/form-field}}
				{{/form-section}}
				{{#form-actions}}
					<button type="submit" {{action "authenticate"}}>Authenticate</button>
				{{/form-actions}}
			</form>
		</section>
		<section class="demo">
			<h2>Horizontal <sup>(With icon)</sup></h2>

			<form action="/">
				{{#form-section title="Log In" icon="lock"}}
					{{#form-field title="Username"}}
						{{input type="text" value=username title="Please enter a valid username" required=true placeholder="Username"}}
					{{/form-field}}
					{{#form-field title="Password"}}
						{{input type="password" value=password title="Please enter a valid password" required=true placeholder="Password"}}
					{{/form-field}}
				{{/form-section}}
				{{#form-actions}}
					<button type="submit" {{action "authenticate"}}>Authenticate</button>
				{{/form-actions}}
			</form>
		</section>
	</article>
</main>